* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contenedor-general {
  width: 1350px;
  height: 1600px;
  background: white;
  display: grid;
  /* justify-content: space-between; */
  grid-template-areas: "header header" "main main" "contenido contenido";
  grid-template-rows: 5% auto auto;
}

header {
  grid-area: header;
  grid-column: 1/span 5;
  background: black;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}

/* ------------------------- */
nav {
  display: flex;
  font-size: large;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 30px;
  text-decoration: none;
  color: white;
}
nav a:hover {
  background: orange;
}

header .logo {
  font-size: x-large;
  color: orange;
}

.aside1 {
  grid-area: main;
  grid-column: 1/span 5;
  background: rgb(190, 178, 178);
}

.titulo {
  height: 20%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;
}

.titulo hr {
  width: 30%;
}

.aside1 .galeria1 {
  width: 100%;
  height: 80%;
  background: rgb(190, 178, 178);
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}

.aside1 .cont {
  width: 300px;
  height: 500px;
  border: 1px solid gray;
}

.galeria1 .imagen {
  height: 50%;
  width: 100%;
  background: blue;
}

.galeria1 .descripcion {
  background: white;
  height: 35%;
  text-align: center;
}

.galeria1 .descripcion div {
  height: 33.3%;
}

.galeria1 .opciones {
  height: 15%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 30px;
}

.galeria1 .opciones a {
  text-decoration: none;
  color: black;
}

.galeria1 .opciones .vermas {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}

.galeria1 .cont img {
  width: 100%;
  height: 100%;
}

/* ----- animaciones --- */
.galeria1 #merlo {
  -webkit-animation: movimiento-izquierda 3s ease;
          animation: movimiento-izquierda 3s ease;
}

.galeria1 #cataratas {
  -webkit-animation: movimiento-izquierda 2s ease;
          animation: movimiento-izquierda 2s ease;
}

.galeria1 #villal {
  -webkit-animation: movimiento-derecha 2s ease;
          animation: movimiento-derecha 2s ease;
}

.galeria1 #villat {
  -webkit-animation: movimiento-derecha 3s ease;
          animation: movimiento-derecha 3s ease;
}

@-webkit-keyframes movimiento-derecha {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes movimiento-derecha {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes movimiento-izquierda {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes movimiento-izquierda {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
.aside2 {
  grid-area: contenido;
  grid-column: 1/span 5;
}

.aside2 .titulo {
  height: 30%;
}

.articulos {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}

.articulos article {
  width: 600px;
  height: 230px;
  border: 1px solid gray;
  display: flex;
}

article .imagen {
  width: 60%;
  height: 100%;
}

.articulos article img {
  height: 100%;
  width: 100%;
}

.textoyopciones .texto {
  height: 80%;
  display: flex;
  align-items: center;
  text-align: center;
}

.opciones {
  height: 20%;
  background: gray;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 25px;
}

.opciones a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

.articulos .opciones .vermas {
  border-left: 1px solid black;
  border-right: 1px solid black;
}/*# sourceMappingURL=style.css.map */